PORT=5000
SUPABASE_URL=https://byhkgaxqcpngdzwlvita.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5aGtnYXhxY3BuZ2R6d2x2aXRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0Mjg3MzYsImV4cCI6MjA5NTAwNDczNn0.TWO2U09TsMWbEQyEcRD3FZ8uw7-urctKLDMJiQIO-To
SUPABASE_SERVICE_ROLE_KEY=sb_secret_u7oyNyRi_ysRTixMjfR-0w_fqZ-kPFJ
JWT_SECRET=super_secret_jwt_key_here_change_in_production
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key
ALLOWED_ORIGIN=http://localhost:5173
LINE_API_NUMBER=2009652877
LINE_CHANNEL_SECRET=replace_with_line_channel_secret
LINE_ACCESS_TOKEN=replace_with_line_access_token_here_change_in_production
